body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 300px;
    margin: 120px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
}
